# Скомпилированные классы и артефакты сборки
/build/
*.class
*.jar

# Логи
/logs/
*.log

# Настройки среды разработки
*.iml
.idea/

# Временные файлы
/tmp/
*.tmp
*.bak
*.swp

# Файлы зависимостей
/lib/

# Конфигурационные файлы
gradle/wrapper/gradle-wrapper.properties

# Сгенерированные файлы
/build/generated/

.gradle

*.DS_STORE